body {
  background-color: darkblue;
}
h1 {
  color: black;
}
button {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  font-family: monospace;
  font-size: medium;
}
