@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

body[theme=dark] {
    --inputbg: #333333;
    --inputborder: #444444;
    --uibg: #242424;
    --textcolor: #fff;
    --bg: #0c0c0c;
}

button {
  background-color: #000;
  color: white;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Poppins", serif;
  font-size: large;
}
button:hover {
 background-color: grey;
}

